---
name: Super-linter
on: [pull_request, push]

permissions:
  contents: read

jobs:
  super-linter:
    runs-on: ubuntu-latest
    # Limit the running time
    timeout-minutes: 10
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0 # Fetch all history for all branches and tags. Otherwise github.event.pull_request.base.ref SHA isn't found.
      # Fetch latest changes (even by previous job)
      - name: Fetch latest changes
        run: git pull origin ${{ github.ref }}
        shell: bash

      ################################
      # Run Linter against code base #
      ################################
      - name: Super-Linter
        uses: super-linter/super-linter@v7.3.0
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: ${{ github.event_name == 'pull_request' && github.event.pull_request.base.ref || github.ref_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
